@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,500;1,700&display=swap");
/*Mixins*/
* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Playfair Display";
}

html {
  font-size: 100%;
}
@media (max-width: 1260px) {
  html {
    width: 90%;
  }
}
@media (max-width: 800px) {
  html {
    width: 80%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  padding-left: 3rem;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

/* ####################################################################################################################### */
.lading {
  border: 1px solid blue;
  width: 100%;
  padding-top: 2rem;
  position: relative;
  margin-bottom: 2.4rem;
}
.lading-header {
  position: relative;
  border: 1px solid red;
  display: flex;
  width: 100%;
  align-items: center;
}
@media (max-width: 650px) {
  .lading-header {
    justify-content: space-between;
  }
}
.lading-header-logo {
  margin-right: 3rem;
}
.lading-header-logo h2 {
  font-size: 2rem;
}
.lading-header-menu {
  display: flex;
  align-items: center;
}
.lading-header-menu li:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}
.lading-header-menu li:not(:last-child) {
  margin-right: 1.5rem;
}
.lading-header-menu li {
  cursor: pointer;
}
@media (max-width: 650px) {
  .lading-header-menu {
    position: fixed;
    transform: rotate(270deg);
    left: -5.5rem;
    top: 15rem;
    font-size: 0.6rem;
  }
}
.lading-main {
  border: 1px solid black;
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
@media (max-width: 1000px) {
  .lading-main {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.lading-main-text {
  border: 1px solid cyan;
  width: 40%;
}
@media (max-width: 1000px) {
  .lading-main-text {
    width: 70%;
    text-align: center;
  }
}
.lading-main-text h1 {
  width: 95%;
  font-size: 2.6rem;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1260px) {
  .lading-main-text h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1080px) {
  .lading-main-text h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 650px) {
  .lading-main-text h1 {
    font-size: 1.6rem;
  }
}
.lading-main-text p {
  margin-block: 1rem 2.5rem;
  font-size: 1.4rem;
  width: 95%;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1260px) {
  .lading-main-text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1080px) {
  .lading-main-text p {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .lading-main-text p {
    font-size: 0.9rem;
  }
}
.lading-main-text h4 {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  cursor: pointer;
}
.lading-main-picture {
  border: 1px solid rgb(211, 137, 0);
  position: relative;
  width: 60%;
  height: 80vh;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .lading-main-picture {
    width: 100%;
    height: 70vh;
  }
}
.lading-main-picture-img {
  border: 1px solid red;
  height: 70%;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  object-fit: contain;
}
@media (max-width: 1000px) {
  .lading-main-picture-img {
    width: 60%;
    height: 70%;
  }
}
.lading-main-picture-back {
  position: absolute;
  background: url("/image/e0.gif");
  background-size: cover;
  width: 100%;
  height: 100%;
  bottom: -10%;
  right: -20%;
}
@media (max-width: 1000px) {
  .lading-main-picture-back {
    width: 60%;
    height: 70%;
  }
}

.section {
  border: 1px solid blue;
  width: 100%;
  text-align: center;
  padding-block: 2rem 1rem;
  margin-bottom: 3rem;
}
.section h3 {
  position: relative;
  font-size: 2rem;
}
.section h3::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  bottom: 0;
}
.section p {
  width: 70%;
  margin: 2rem auto;
}
@media (max-width: 800px) {
  .section p {
    font-size: 0.9rem;
    width: 80%;
  }
}
@media (max-width: 800px) {
  .section p {
    font-size: 0.9rem;
    width: 90%;
  }
}
.section-list {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
}
@media (max-width: 1080px) {
  .section-list {
    height: 55px;
  }
}
@media (max-width: 800px) {
  .section-list {
    height: 45px;
  }
}
@media (max-width: 650px) {
  .section-list {
    height: 40px;
  }
}
@media (max-width: 650px) {
  .section-list {
    height: 35px;
  }
}
.section-list li {
  border: 1px solid yellow;
  height: 100%;
  width: 7%;
}
.section-list li img {
  border: 1px solid pink;
  height: 100%;
}
.section-video {
  border: 1px solid red;
  height: 340px;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .section-video {
    height: 290px;
    width: 65%;
  }
}
@media (max-width: 800px) {
  .section-video {
    height: 250px;
    width: 70%;
  }
}
@media (max-width: 650px) {
  .section-video {
    height: 220px;
    width: 75%;
  }
}
@media (max-width: 650px) {
  .section-video {
    height: 200px;
    width: 80%;
  }
}

.article {
  position: relative;
  border: 1px solid red;
  height: 100vh;
}
.article-visual {
  display: flex;
  height: 60vh;
}
@media (max-width: 1000px) {
  .article-visual {
    flex-direction: column;
    height: 70vh;
  }
}
.article-visual-picture {
  width: 55%;
  border: 1px solid orangered;
  position: relative;
}
@media (max-width: 1000px) {
  .article-visual-picture {
    min-height: 300px;
    width: 65%;
    min-height: 65vh;
  }
}
@media (max-width: 650px) {
  .article-visual-picture {
    width: 75%;
  }
}
.article-visual-picture-car {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 15%;
  object-fit: contain;
  box-shadow: 2px 2px 5px cyan;
}
.article-visual-guide {
  width: 45%;
  height: 60vh;
  border: 1px solid rgb(20, 220, 53);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .article-visual-guide {
    flex-direction: row;
    width: 100%;
    min-height: 35vh;
  }
}
.article-visual-guide-text {
  border: 1px solid cyan;
  height: 50%;
}
@media (max-width: 1000px) {
  .article-visual-guide-text {
    width: 50%;
    height: 100%;
  }
}
.article-visual-guide-picture {
  border: 1px solid red;
  height: 50%;
}
@media (max-width: 1000px) {
  .article-visual-guide-picture {
    width: 50%;
    height: 100%;
  }
}
.article-picture {
  position: relative;
  display: grid;
  height: 40vh;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  border: 1px solid seagreen;
}
@media (max-width: 1000px) {
  .article-picture {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25%;
    top: 2rem;
    right: 7%;
    height: 50vh;
    gap: 0.5rem;
  }
}
@media (max-width: 650px) {
  .article-picture {
    gap: 0.3rem;
    width: 18%;
    right: 3%;
  }
}
.article-picture-li {
  border: 1px solid rgb(202, 100, 168);
  box-shadow: 4px 4px 2px #000;
  height: 100%;
  min-width: 100px;
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .article-picture-li {
    min-width: 40%;
    height: 32%;
  }
}
@media (max-width: 800px) {
  .article-picture-li {
    min-width: 40%;
    height: 24%;
  }
}
@media (max-width: 650px) {
  .article-picture-li {
    min-width: 90%;
    height: 18%;
  }
}
@media (max-width: 1000px) {
  .article-picture-li h3,
  .article-picture-li p {
    display: none;
  }
}
.article-picture-li-car {
  border: 1px solid rgb(0, 49, 49);
  position: absolute;
  width: 75%;
  height: 70%;
  bottom: 0;
  right: 0;
  object-fit: cover;
}
.article-picture-li-car img {
  height: 100%;
}
@media (max-width: 1000px) {
  .article-picture-li-car {
    width: 100%;
    height: 100%;
  }
}

.efeito {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
